* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(#823838de, rgba(206, 63, 63, 0.853));
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 4.6rem;
  color: #fff;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20rem;
  margin-top: 0;
}

main {
  position: relative;
}

h1 {
  font-size: 4rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
  color: rgba(239, 45, 203, 0.893);
}

.img {
  height: 10rem;
  border-radius: 30rem;
}

.cta {
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.btn {
  background-color: rgba(197, 103, 21, 0.823);
  text-align: center;
  width: 40rem;
  padding: 6rem 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  border: 0.7rem #1ac5d56a solid;
  border-radius: 20rem;
  box-shadow: 0px 20px 20px #41714627;
}

.chose {
  background-color: #333333ac;
  padding: 2.2rem 4.4rem;
  border-radius: 5.6rem;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

h2 {
  font-size: 10rem;
}

.chose:active {
  transform: translate(-0.06%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

p {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.btn-in {
  height: 10rem;
  width: 22rem;
  font-size: 4rem;
  background-color: #dfb6b6bc;
  border: none;
  border-radius: 9px;
}

.btn-in:focus {
  outline: none;
}

.dice-img {
  display: flex;
  gap: 2rem;
}
.dice {
  height: 10rem;
}

.newgame {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
  font-size: 3rem;
  padding: 1.6rem 3.2rem;
  cursor: pointer;
  font-weight: bold;
  color: #e84109fc;
  background-color: #333;
  border: none;
}

.newgame:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.winner {
  background-color: #ff0000;
}

h3 {
  text-transform: uppercase;
  font-size: 3.8rem;
  color: #27ea0d;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  margin-left: -10rem !important;
}

.hidden {
  display: none;
}

@media (max-width: 84em) {
  html {
    font-size: 38%;
  }
}
